@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

@layer base {
  html {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    color: #002961;
  }
}

.logo {
  width: 100%;
  max-width: 110px;
}

.cart-icon {
  color: #002961;
  cursor: pointer;
}

.cart-icon:hover {
  color: #bb4430;
}